@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400;500;600;700&family=Overlock+SC&family=Permanent+Marker&family=Press+Start+2P&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400;500;600;700&family=Overlock+SC&family=Permanent+Marker&family=Press+Start+2P&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

:root {
    --blue-: #254453;
    --beige-: #FFF8dc;
    --black-: #0D0D0D;
    --white-: #FFFFFF;


    --font-family-title: 'Roboto', sans-serif;
    --font-family-title-two: 'Prompt', sans-serif;
    --font-weight-regular-title-: 400;
    --font-weight-medium-title-: 700;
    --font-weight-regular-text-: 200;
    --font-weight-medium-text-: 500;
}

img {
    max-width: 100%;
}

/* Start francisco */
nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--blue-);
    padding: 10px 30px;
    font-size: 15px;
}

.navLogo {

    height: 60px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navLogo img {
    width: auto;
    height: 100%;
}

.navMenu {
    padding: 10px;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: var(--blue-);
    list-style-type: none;
    gap: 10px;
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navMenu li a {
    color: var(--white-);
    padding: 5px;
    display: flex;
    font-size: medium;
}

.navMenu li a:hover {
    border-radius: 5px;
    background-color: var(--beige-);
    color: var(--blue-);
    font-weight: bold;
}

.menuToggle {
    order: 1;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 0.5rem;
    border: none;
    background-color: transparent;
    margin-right: 10px;
}

[aria-expanded='true']+.navMenu {
    display: flex
}

.menuToggle:hover {
    border: 2px var(--beige-) solid;
}

.access {
    position: relative;
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: medium;
}

.subMenu {
    display: none;
    position: absolute;
    left: -7px;
    top: 100%;
    background-color: var(--beige-);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    list-style-type: none;
    z-index: 1;
    text-align: center;
    border-radius: 5px;
    font-size: 0.9rem;
    font-family: var(--font-family-title);
    font-size: medium;
}

.subMenu li {
    padding: 8px 12px;
}

.subMenu li a {
    color: var(--blue-);
    padding: 3px;
    border-radius: 3px;
}

.subMenu li a:hover {
    background-color: var(--blue-);
    color: var(--beige-);

}

.access:hover .subMenu {
    display: block;
}

#submenu_btn {
    background-color: var(--beige-);
    color: var(--blue-);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
}

/*Modal Login*/
.modalLogin,
.modalRegistrarse {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modalContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--blue-);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 2%;
    top: -1%
}

#close:hover,
#close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;

}

.modalLogin_input {
    padding: 14px 16px;
    width: 80%;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 1em;
}

.modalLogin_tittle,
.modalRegister_tittle {
    color: var(--white-);
    font-weight: 400;
    margin: 10px 0 20px;
}

.modalLogin_tittle a {
    font-weight: 400;
    color: var(--white-);
}


.modal_login_btn,
.modal_register_btn {
    color: #254453;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
    font-size: 0.9em;
    background-color: #FFF8DC;
    margin: 20px 0 20px;
}

/*Modal Registro*/
.modal_register_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;

}

.select_profile {
    padding-top: 20px;
    font-weight: 400;
    color: var(--white-);
}

.modal_register_form_div {
    display: flex;
    gap: 20px;
}

.modal_register_form_label {
    color: var(--white-);
}


/* Dashboard */

.section_dashboard_admin {
    display: block;
}

.section_dashHero {
    height: 90vh;
    width: 100%;
    display: flex;
}

.menu_dashHero {
    background-color: var(--blue-);
}

.place_dashHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
    width: 80%;
    padding: 30px;
}

.menu_dashHero {
    width: 20%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.menu_dashHero h2 {
    color: var(--white-);
    font-family: var(--font-family-title);
}

.table_one_hero,
.table_two_hero {
    width: 60%;
    height: 50%;
    border-radius: 20px;
    background-image: url(./img/Imagen1.png);
    background-size: cover;
}

/*Diseño del titulo y la barra de busqueda */

.mainDestinations {
    min-height: 100vh;

}

.mainDestinations h1 {
    text-align: center;
    font-size: 2.5rem;
    background-color: var(--blue-);
    color: var(--white-);
    padding: 2%;
}

/*input de busqueda */
.mainDestinations #searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar #inputUser {
    background-color: #FFF8DC;
    width: 40%;
    border-radius: 5px;
    text-align: center;
    margin: 1.5rem;
    padding: 0.9%;
    border: solid 0px;
    box-shadow: 2px 2px 2px 0px;
    outline: none;
}

::placeholder {
    font-size: 1rem;
    font-style: italic;
    color: #183543;
}



/* boton de buscar*/
#searchWhitInputUser {
    background-color: #254453;
    color: #FFF8DC;
    border-radius: 5px;
    width: 8%;
    text-align: start;
    font-family: "Roboto", sans-serif;
    box-shadow: 0px 2px 2px 0px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar #arrow {
    position: relative;
    right: 3%;
    bottom: -0.6rem;
    color: #FFF8DC;
    font-size: 200%;
}

/*Diseño y estructuracion del collage de destinos en "Principales destinos" */
/*Maquetacion con grid */

#places {
    display: grid;
    justify-content: center;
    grid-template-columns: 32% 32% 16% 16%;
    grid-auto-rows: 70px;
    gap: 1rem;
    padding: 30px;
    height: 100vh;
    width: 100vw;
}

#places a {
    background: linear-gradient(to right, #25445390, #25445390), url(./img/towe_eifel\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

#places h2 {
    color: #FFF8DC;
    font-size: 200%;
    margin-left: 3%;

}

#places a:hover {
    color: #FFF8DC;
    box-shadow: 0px 0px 5px 3px #254453;
}

#places #c_1 {
    grid-row: 1/7;
}

#places #c_2 {
    grid-row: 1/4;
}

#places #c_3 {
    grid-row: 1/4;
    grid-column: 3/5;
}

#places #c_4 {
    grid-row: 4/7;
}

#places #c_5 {
    grid-column: 3/4;
    grid-row: 4/7;
}

#places #c_6 {
    grid-column: 4/5;
    grid-row: 4/7;
}

#places #c_7 {
    grid-row: 7/10;
    grid-column: 1/5;
}

#c_7 h2 {
    margin-left: 1%;
    margin-bottom: 0;
}

/*Seccion de destacados */
.P_sub_title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.P_sub_title h1 {
    font-size: 2.5rem;
    color: #254453;
}

.article_cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.P_section_highlights {
    width: 90%;
    padding: 70px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    text-align: center;
    gap: 2rem;
}

.cards_highlights {
    background-color: #fff8dc;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    position: relative;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 3px 4px 12px 4px rgba(163, 155, 194, 1);
    margin: 0 auto;
}

.cards_highlights img {
    width: 100%;
    border-radius: 16px;

}

.about_travel {
    width: 70%;
    margin: 30px 0px;
    display: flex;
    justify-content: flex-start;

    align-items: flex-start;
    padding: 10px;
    gap: 10px;
}

.travel_name {
    text-align: left;
    width: 100%;
    color: #254453;
    font-size: 1rem;
    height: fit-content;
    padding: 5px;
}

.button_price {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    background-color: #254453;
    color: #000088;
    font-weight: bold;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 15%;
    right: 5%;
}

.button_price p {
    color: #fff8dc;
    font-size: 1rem;
}

.travel_opinions {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    color: #254453;
}

.travel_opinions h2 {
    font-size: 1.5rem;
}

.num_opinions {
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    color: #254453;
}

.num_opinions p {
    font-size: 1rem;
    color: #254453;
}

.see_more {
    text-align: center;
    width: 30%;
}

.see_more button {
    text-align: center;
    padding: 1.5rem;
    background-color: #254453;
    font-size: 1.5rem;
    color: #fff8dc;
    background-color: #254453;
    border-radius: 16px;
}

.see_more button:hover {
    background-color: #043459;
}

/* STYLES CART MORE INFORMATION*/
.more_information {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #254453;
    transition: width 0.3s, height 0.3s, background-color 0.3s, rotate 1s;
    border-radius: 16px;
    border: 2px solid rgb(36, 34, 34);
    padding: 1rem;
    display: none;
}

.more_information:hover {
    background-color: #20415c;
    display: none;
}

.more_information_text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 80%;
    text-align: left;
    border-radius: 1rem;
    color: #fff8dc;
    font-size: 1rem;
    border: 2px solid white;
    padding: 1rem;
}

.contain_add_booking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
    margin-top: 1rem;
    gap: 10px;
}

.contain_add_booking h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: #254453;
    height: fit-content;
    width: 70%;
    border-radius: 5px;
    margin: 0;
    padding: 0.5rem;
    font-weight: bold;
    text-align: center;
    background-color: #fff8dc;
}

.contain_add_booking button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    color: #fff8dc;
    font-weight: bold;
    width: 30%;
    height: fit-content;
    background-color: #254453;
    border: 1px solid #FFF8dc;
}

.travel_price_back {
    position: absolute;
    top: 78%;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 25%;
    width: 30%;
    border-radius: 50%;
    background-color: #fff8dc;
}

.travel_price_back p {
    font-weight: bold;
    font-size: 17px;
    color: #13236b;
}


/* start footer */
.footer_home {
    background-color: #254453;
    width: 100%;
    height: 45vh;
    display: flex;
    margin-top: 20px;
}

.map_footer {
    border-radius: 20px;
    width: 80%;
    height: 80%;
}

.contain_map_footer {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_info_footer {
    width: 60%;
}

.column_info_footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
}

.info_contact,
.info_adress {
    width: fit-content;
    padding: 30px;
    font-size: 20px;
    font-family: var(--font-family-title);
    list-style: none;
    height: 100%;
}

.contain_info_adress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.info_contact ul,
.info_adress ul {
    list-style: none;
    color: var(--beige-);
    font-weight: bold;
}

.info_contact ul li,
.info_adress ul li {
    padding: 5px;
}

.info_contact ul li:hover,
.info_adress ul li:hover {
    color: white;
}

.social_media_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-family: var(--font-family-title);
    color: var(--beige-);
}

.social_media_footer svg {
    height: 50px;
    width: 50px;
    margin: 10px;
}

/********* Start Responsive ************/
/* nav */
@media screen and (min-width: 660px) {
    .menuToggle {
        display: none;
    }

    .navMenu {
        display: flex;
        position: static;
        order: 1;
        width: auto;
    }

    .access {
        order: 2;
    }

}


/* dashboard */
@media screen and (min-width: 600px) and (max-width: 920px) {
    .section_dashHero {
        height: 80vh;
    }

    .article_img {
        flex: 0 0 calc(100% / 1);
    }
}

/* ------------------------- mobile -----*/

@media screen and (max-width: 599px) {
    .section_dashHero {
        height: 70vh;
    }

    .menu_dashHero h2 {
        font-size: 13px;
    }
}

/* Media query para pantallas entre 1162px y 1920px */


@media screen and (min-width: 1182px) and (max-width: 1549px) {
    #card1 {
        display: none;
    }

    #card2 {
        display: none;
    }
}


/* Media query para pantallas entre 830px y 1161px */
@media screen and (min-width: 830px) and (max-width: 1161px) {
    .travel_name {
        width: 60%;
    }

    .travel_opinions {
        width: 85%;
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 1rem;
        color: #254453;
    }

    .button_price {
        width: 30%;
        height: 100%;
    }

    .num_opinions {
        width: 100%;
    }

    .more_information_text {
        margin-bottom: 1.5rem;
        padding: 1rem;
    }

    .more_information_text p,
    h2 {
        font-size: 1rem;
    }

    .contain_add_booking h3 {
        width: 55%;
        font-size: 1rem;
    }

    .contain_add_booking button {
        font-size: 0.8rem;
        width: 42%;
        text-align: center;
    }

    .travel_price_back {
        width: 35%;
    }

    #card1 {
        display: none;
    }

    #card2 {
        display: none;
    }
}

/* Finish juan_pablo */
/*---------dahsboard admin samuel----------*/
.section_dashboard_admin {
    height: 100vh;
    width: 100%;
    display: flex;
}

.menu_dash_admin {
    background-color: var(--blue-);
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
}

.menu_dash_admin div {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_dash_admin div svg {
    color: white;
    height: 100px;
    width: fit-content;
}

.menu_dash_admin button {
    padding: 5px;
    width: 120px;
    height: 150px;
    background-color: var(--blue-);
    color: white;
    border: none;
    text-align: left;

}

.menu_dash_admin button:hover {
    border-left: solid 2px white;
    font-weight: bold;
    cursor: pointer;
    background-color: #4f6772;
}

.menu_dash_admin h3 {
    text-align: left;
    color: white;
    padding: 10px 10px 10px 0px;
}

/* ------ targets description dashboard admin -----*/
.place_dashboard_contain {
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 30px;
    overflow: scroll;
    overflow-x: hidden;

}

.section_description_targets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.table_stadistics {
    height: 500px;
    width: 80%;
    border: #254453 solid 1px;
    border-radius: 20px;
    background-image: url(./img/Imagen1.png);
    background-size: cover;
}

.button_table_stadistics {
    background-color: var(--blue-);
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color: var(--white-);
    font-weight: 600;
    font-size: 15px;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.button_table_stadistics:hover {
    font-weight: bold;
    color: var(--blue-);
    background-color: var(--white-);
    border-color: var(--blue-) 1px solid;
    cursor: pointer;
}

/* ------ targets description dashboard admin -----*/

.target_description_dash {
    display: flex;
    height: 30vh;
    width: 80%;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.img_target_description {
    width: 30%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    background-image: url(./img/towe_eifel\ \(1\).jpg);
    background-size: cover;

}

.contain_text_description {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-);
    border-radius: 0px 10px 10px 00px;
}

.title_tour_description {
    width: 80%;
    background-color: var(--beige-);
    border-radius: 10px;
    padding: 5px;
    color: var(--blue-);
    text-align: center;
}

.text_description_target p {
    font-size: 15px;
    color: var(--beige-);
}

.contain_characteristic_target {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: solid 1px #fff8dc;
}

.contain_characteristic_target p {
    width: 25%;
    height: fit-content;
    padding: 5px;
    text-align: center;
    color: var(--beige-);
    font-weight: bold;
    font-size: 10px;
}

.border_target_char {
    border-right: solid 1px #fff8dc;
}

/*Start Alejandro */
@media screen and (max-width: 1180px) {
    #arrow {
        display: none;
    }

    #searchWhitInputUser {
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {}

/* footer responsive */
@media screen and (max-width: 599px) {
    .footer_home {
        height: 30vh;
    }

    .info_contact,
    .info_adress {
        font-size: 10px;
    }

    .social_media_footer svg {
        height: 20px;
        width: 20px;
        margin: 5px;
    }

    .info_contact,
    .info_adress {
        padding: 10px;
    }

    /* --------------------------section dashboard----------- */


    .menu_dash_admin {
        justify-content: flex-start;
        align-items: ;

        padding: 5px;
    }

    .menu_dash_admin button {
        font-size: 9px;
        width: 100%;
        height: 40px;
    }

    .menu_dash_admin h3 {
        padding: 0px;
        width: 100%;
        font-size: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    .menu_dash_admin div {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .menu_dash_admin div svg {
        height: 50px;
    }

    .menu_dash_admin div {
        margin-bottom: 10px;
    }



    .place_dashboard_contain {
        padding: 10px;
    }

    .table_stadistics {
        height: 30vh;
    }

    .contain_text_description {
        height: 100%;
        padding: 5px;
        width: 100%;
        gap: 10px;
        border-radius: 0px 0px 10px 10px;
    }

    .img_target_description {

        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }

    .target_description_dash {
        flex-direction: column;
        height: 300px;
    }

    .target_description_dash p {
        font-size: 10px;
    }

    .contain_characteristic_target {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        height: fit-content;
    }

    .border_target_char {
        border: 0px;
    }

}

/* ------------ tablet-----*/
@media screen and (min-width: 600px) and (max-width: 1024px) {

    .social_media_footer svg {
        margin: 3px;
    }

    .article_img {
        flex: 0 0 calc(100% / 1);
    }

    .menu_dash_admin {
        padding: 0px;
        align-items: center;
    }

    .menu_dash_admin h3 {
        text-align: center;
    }

    .menu_dash_admin div {
        flex-direction: column;
        width: 100%;
    }

    .menu_dash_admin div button {
        text-align: center;
        height: 50px !important;
        font-size: 20px;
    }

    .target_description_dash {
        height: 300px;
    }
}